.home_btn{
height: 100px;
border-style: solid;
text-align: center;
cursor: pointer;
margin: 12px;
padding: 30px;
font-size:28px;
border-color:rebeccapurple;
text-decoration:none;
color:black;
}

.logo{
height: 160px;
margin-top: 23px;
}
.login_panel{
border-style: solid;
padding: 27px;
height: 189px;
border-radius: 15px;
}
.register_panel{
border-style: solid;
padding: 27px;
height: 520px;
border-radius: 15px;
}

.active
{
	background-color: white;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-color: red;
}

.active_chat
{
	background-color: #e5ddd5;
	font-weight: bold;
	border-left-style: solid;
	border-left-color: red;
}

.btn-href
{
	padding: 5px;
	background-color: #23527c;
	color: white;
	text-decoration: none;
}

.btn-delete
{
	padding: 5px;
	background-color: red;
	color: white;
	text-decoration: none;
}

.btn-update
{
	padding: 5px;
	background-color: green;
	color: white;
	text-decoration: none;
}
a:hover,a:focus{
	text-decoration: none;
}